{% load static %}
<!-- Core -->
<script src="{% static 'webapp/assets/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'webapp/assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'webapp/assets/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'webapp/assets/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'webapp/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'webapp/assets/vendor/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'webapp/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'webapp/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'webapp/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'webapp/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'webapp/assets/vendor/notyf/notyf.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'webapp/assets/vendor/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Jquery -->
<script src="{% static 'webapp/assets/vendor/jquery/jquery.min.js' %}"></script>

<!-- Volt JS -->
<script src="{% static 'webapp/assets/js/volt.js' %}"></script>

<!-- Toast JS -->
<script src="{% static 'webapp/assets/js/toast.js' %}"></script>

<!-- Overlay JS -->
<script src="{% static 'webapp/assets/js/overlay.js' %}"></script>

<script>
$(document).ready(function() {

    $('.nav-item .nav-link').on('click', function(e) {
        e.preventDefault(); 
        
        let parentId = $(this).closest('.nav-item').attr('id');
        
        $('.nav-item').removeClass('active');
        
        $(this).closest('.nav-item').addClass('active');
        localStorage.setItem('NAV_ITEM_ACTIVE', parentId);
        
        let href = $(this).attr('href');
        if (href) {
            window.location.href = href;
        }
    });
    
    let activeItem = localStorage.getItem('NAV_ITEM_ACTIVE');
    if (activeItem) {
        $('#' + activeItem).addClass('active');
    }
});
</script>
